@import "tailwindcss";

.card {
  margin: 20px;
  height: 400px;
  max-height: 500px;
  max-width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-width: 200px;
}

.display-flex-col {
  display: flex;
  flex-direction: column;
}

.display-flex-row {
  display: flex;
  flex-direction: row;
}

.justify-align-center {
  justify-content: center;
  align-items: center;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 800px;
}

.banner {
  background-color: gray;
}

.slider-img {
  border-radius: var(--radius-md);
  overflow: hidden;
  display: flex;
}

.film-card {
  width: 320px;
  margin: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: rgba(160, 160, 160, 0.8);
  min-width: 0; /* very important for flex/grid children */
}

.film-title {
  font-size: 25px;
  font-weight: lighter;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  padding: 25px 25px;
  gap: 0.5rem;
}

.border-with-shadow {
  border: 2px rgb(199, 199, 199);
  border-style: solid;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
